@font-face {
	font-family: 'Iron'; 
	src: local('Iron'),
		url(Iron_Russian_edition.ttf); 
}

body{
    padding: 0px;
    margin: 0 auto;
    background: url(../photo/bg4.jpg);
    font-family: 'Iron';
    color: #fff;
    background-color: #fff;
}

a{
    color: #1078B6;
    text-decoration: none;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.438);
}


.container{
   display: flex;
   flex-direction: column;
   
}

.container + .container {
    margin-bottom: -30px;
}

.cont{
}

.container_main{
    margin: 0px 120px 0px 100px;
    display: flex;
    flex-direction: column;
}

.enter{
    display: flex;
    justify-content: flex-end;
}

.ent{
    font-size: 25px;
    padding: 0px 50px 0px 50px;
    border: rgba(255, 255, 255, 0.56);
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}

.iconka{
   
}

.welcome{
}

span{
    font-size: 100px;
}

.header{
    font-size: 75px;
    border: rgba(171, 224, 255, 0.541);
    background-color: rgba(171, 224, 255, 0.541);    
    max-width: 625px;
    padding: 5px 25px 5px 25px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}

p{

}

.Par{
    font-size: 35px;  
    border: rgba(171, 224, 255, 0.541);
    background-color: rgba(171, 224, 255, 0.541);
    padding: 35px 35px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}

.third{
     font-size: 30px;
}

.container_gif{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraf{

}


.icon{
    display: flex;
    justify-content: flex-end;
    margin-right: -100px;
 }
